<div class="content">
  <h3 class="page-title text-center"><%= title_case @name %></h3>
  <div class="row">
    <%= for product <- @products do %>
    <div class="col-md-3">
      <%= render EvendorWeb.ProductView, "product_card.html", product: product %>
    </div>
    <% end %>
  </div>
</div>
