/* This file is for your main application css. */

@import "font-awesome";
@import "bootstrap";
@import "navbar";
@import "catalog";
@import "form-style";


// GENERICS

html, body {

  .content {
    margin: 1rem auto;

    .page-title {
      color: #11AA11;
      margin: 1rem auto;
      position: relative;
      width: 100%;
      border-bottom: 3px solid #777777;
      display: inline;
    }
  }
}
