/* This file is for your main application css. */

@import "font-awesome";
@import "bootstrap";
@import "navbar";
@import "catalog";


// GENERICS

html, body {

  .content {
    padding: 1rem auto;

    .page-title {
      color: #11AA11;
      margin: 0 auto;
      position: relative;
      width: 100%;
    }
  }
}
