
<h1 class="page-title">Seasonal Products</h1>
  <div class="row">
    <%= for product <- @seasonal_products do %>
      <div class="col-md-3">
        <%= render EvendorWeb.ProductView, "product_card.html", product: product %>
      </div>
    <% end %>
  </div>
